{% extends 'base.html' %}

{% block content %}
<h1>Beer Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ beer.name }}</span>
        <p>Type: {{ beer.type }}</p>
        <p>Origin: {{ beer.origin }}</p>
        <p>Alcohol Percent: {{ beer.alcPercent }}</p>
        {% if beer.abuLevel > 7  %}
        <p>Bitterness Level: High</p>
        {% elif 3 <= beer.abuLevel <= 7 %}
        <p>Bitterness Level: Medium</p>
        {% else %}
        <p>Bitterness Level: Low</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'beers_update' beer.id %}">Edit</a>
        <a href="{% url 'beers_delete' beer.id %}">Delete</a>
      </div>
    </div>

    {% for photo in beer.photo_set.all %}
    <img src="{{ photo.url }}" alt="" class="responsive-img card-panel">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

        <form action="{% url 'add_photo' beer.id %}" method="POST" enctype="multipart/form-data" class="card-panel">
          {% csrf_token %}
          <input type="file" name='photo-file'>
          <br>
          <br>
          <input type="submit" class="btn" value="Upload Photo">
        </form>
  </div>

  <div class="col s6">
    <form action="{% url 'add_drinking' beer.id %}" method="post">
      {% csrf_token %}
      {{ drinking_form.as_p }}
      <input type="submit" class="btn" value="Add drinking">
    </form>
    <br>
    {% if beer.drunk_for_today %}
    <div class="card-panel teal-text center-align">You've drunk enough {{beer.name}} for today. CHILL OUT!</div>
    {% else %}
    <div class="card-panel red-text center-align">Drink more {{beer.name}}. BOTTOMS UP!!</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Drink</th>
        </tr>
      </thead>
      <tbody>
        {% for drinking in beer.drinking_set.all %}
        <tr>
          <td>{{drinking.date}}</td>
          <td>{{drinking.get_drink_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ beer.name }}'s awards</h3>
    {% if beer.awards.count %}
    {% for award in beer.awards.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">A<span style="color: {{ award.color }}"> {{ award.color }}</span>
          {{ award.name }}</span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_award' beer.id award.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No awards :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available awards</h3>
    {% if awards.count %}
    {% for award in awards.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A <span style="color: {{ award.color }}">{{ award.color }}</span> {{ award.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_award' beer.id award.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{beer.name}} Already Has All awards Available</h5>
    {% endif %}
  </div>
</div>



<script>
  // Elements
  let dateEl = document.querySelector('#id_date');
  let selectEl = document.querySelector('#id_drink');

  // Initialize the date field with datepicker
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // Initialize the select field 
  M.FormSelect.init(selectEl)
</script>
{% endblock %}