{% extends 'base.html' %}

{% block content %}
<h1>List of Beers</h1>
{% for beer in beers %}
    <div class="card">
        <a href='/beers/{{ beer.id }}'>
            <div class="card-content">
                <span class="card-title">{{ beer.name }}</span>
                <p><span class="column">Type: </span> {{ beer.type }}</p>
                <p><span class="column">Origin: </span>{{ beer.origin }}</p>
                <p><span class="column">Alcohol Percent: </span> {{ beer.alcPercent }}</p>
                {% if beer.abuLevel > 6 %}
                <p><span class="column">Bitterness: </span>High</p>
                {% else %}
                <p><span class="column">Bitterness: </span>Low</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}
{% endblock %}